# macOS
.DS_Store

# Editor working files
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.venv/
venv/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# Fortran build artifacts
*.o
*.mod
*.smod

# IDL
*.sav
exercises/03-git/exercise-repo/
